<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление записи из CSV файла</title>
</head>
<body>
<h1>Удаление записи из CSV файла</h1>
<label for="deleteRecordId">Введите идентификатор записи для удаления:</label>
<input type="text" id="deleteRecordId" name="deleteRecordId">
<button onclick="deleteRecord()">Удалить запись</button>

<script>
    function deleteRecord() {
        const deleteRecordId = document.getElementById('deleteRecordId').value;
        // Отправить DELETE запрос на /csv/{id} endpoint
        fetch(`/csv/${deleteRecordId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                console.log('Запись успешно удалена');
                // Дополнительные действия после удаления записи, если необходимо
            } else {
                console.error('Произошла ошибка:', response.statusText);
                // Обработка ошибки удаления записи, если необходимо
            }
        })
        .catch(error => console.error('Произошла ошибка:', error));
    }
</script>
</body>
</html>
